<div
  class="relative mt-10 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0"
>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form>

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        {{utilitiesService.getLanguage().setting.title}}
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{utilitiesService.getLanguage().setting.email}}
            </label>
            <input
              disabled
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value="{{email}}"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{utilitiesService.getLanguage().setting.language}}
            </label>
            <select id="small" class="selectWinery minimal"  [(ngModel)]="language">
              <option selected="selected" disabled>{{language}}</option>
              <option [value]="item" *ngFor="let item of languageList" >{{item}}</option>
            </select>
          </div>
        </div>
        <button type="button" style="outline: transparent" class="bg-red-600 text-white rounded-lg p-3 m-3 ml-3" (click)="saveSetting()">   {{utilitiesService.getLanguage().setting.btnSave}}
        </button>
      </div>
    </form>
  </div>
</div>
